/*
 * Authors:
 * 
 * Dave Fei
 * Chris LaRose
 * 
 */

/* 
 * Global styles
 */
body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header, #content {
    width: 960px;
    margin: 0 auto;
}

#homepage-image {
    max-width: 100%;
}

footer {
    text-align: center;
    color: hsl(0, 0%, 60%);
    padding: 3em 0;
    background-color: hsl(0, 0%, 90%);
    margin-top: 3em;
}

h3 {
    margin: 0 0 0.5em 0;
}

/*
 * Header
 */
header {
    padding: 1em 0;
}

header h1 {
    font-size: 2em;
    margin: 0 0 0.5em 0;
}

header h1 a {
    text-decoration: none;
    color: hsl(194, 97%, 39%);
}

header h1 #tagline {
    display: block;
    font-size: .5em;
}

/*
 * Navigation (Suckerfish: http://alistapart.com/article/dropdowns)
 */

#navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: hsl(102, 27%, 47%);
}

#navigation li {
    display: inline-block;
    /* Changed from suckerfish, because modern IE understands inline-block and 
       suckerfish is from 2003 */
    position: relative;
    width: 10em;
}

#navigation li a {
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    color: #fff;
}

#navigation > ul > li:hover {
    background-color: hsl(0, 0%, 20%);
}

#navigation li ul {
    display: none;
    position: absolute; 
    top: 1em;
    left: 0;
    z-index: 10;
}

#navigation li > ul {
    top: auto;
    left: auto;
}

#navigation li > ul li {
    background-color: hsl(102, 17%, 47%);
}

#navigation li > ul li:hover {
    background-color: hsl(0, 0%, 40%);
}

#navigation li:hover ul {
    display: block;
}

/*
 * Blog entries 
 */
#blog-entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

#blog-entries li {
    border-bottom: 1px solid hsl(0, 0%, 70%);
    padding: 20px 0 20px 120px;
    position: relative;
    height: 100px;
}

#blog-entries li img {
    position: absolute;
    top: 20px;
    left: 0;
    height: 100px;
    width: 100px;
}

/*
 * Add Comment page
*/
#comm {
   height: 200px;
   width: 35%;
}

.addcomm {
   font-size: 120%;
   font-weight: bold;
   background-color: hsl(102, 27%, 47%);
   height: 50px;
}

/*
 * Blog Article
 */

.article-image {
    float: right;
    margin: 0 0 20px 20px;
}

/*
 * Tables
 */

.zebra-stripes {
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1.5em;
}

.zebra-stripes td, .zebra-stripes th {
    padding: 4px 7px; 
}

.zebra-stripes th {
    border-bottom: 1px solid #000;
}

.zebra-stripes th {
    text-align: left;
}

.zebra-stripes tbody tr:nth-child(odd) {
    background-color: hsl(102, 27%, 77%);
}

/*
 * Total page
 */

#complete-order {
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    background-color: hsl(102, 27%, 77%);
    border: 1px solid #333;
    font-size: 1.5em;
}

/*
 * Products page
 */

#product-list {
    margin: 0 0 0 -20px;
    padding: 0;
}

#product-list li {
    display: inline-block;
    border: 1px solid #000;
    margin: 0 0 20px 20px;
    text-align: center;
    width: 282px;
    padding: 10px;
}

#product-list img {
    max-height: 250px;
    display: block;
    margin: 0 auto 1.5em;
}

#product-list a {
    text-decoration: none;
}

/*
 * Shipping page
 */
.ship {
   margin: 0 auto;
   width: 38%;
   line-height: 150%;
}

.shiplabel {
   display: inline-block;
   width: 150px;
}

#shipinput {
   width: 125px;
   margin: 0 auto;
}

#shipsubmit {
   font-size: 120%;
   background-color: hsl(102, 27%, 47%);
   height: 50px;
   width: 125px;
}

/*
 * Product page
 */
#product-sidebar {
    float: right;
    margin: 0 0 20px 20px;
}

#product-image {
    border: 1px solid hsl(0, 0%, 60%);
}

#purchase-form fieldset {
    background-color: hsl(120, 50%, 50%);
    border: 1px solid hsl(0, 0%, 60%);
}

#purchase-form legend {
    background-color: hsl(120, 50%, 40%);
    border: 1px solid hsl(0, 0%, 60%);
    padding: 5px;
}

#product-sidebar .price {
    font-weight: bold;
}
